<!DOCTYPE html>
<html>
<head>
    <title>SB - Secure Banking </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>SB - Secure Banking 🏛️</h2>
    <div>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>

<div class="hero">
    <div class="hero-content">
        <h1>Welcome to Secure Banking</h1>
        <p>Your Money 💵 . Your Security 🔐. Your Control 👀.</p>
        
    </div>
</div>

</body>
</html>